  {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mentor Mentee | RCSS</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'styles/admin.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  
</head>

<body>

<!-- HEADER -->
  <header class="header">
    <div class="header-left">
       <img src="{% static 'images/logo.png' %}" alt="RCSS Logo" class="header-logo" />
      <div class="header-title">
        <h2 class="rcss-title">RCSS</h2>
        <p class="rcss-subtitle">RAJAGIRI COLLEGE OF SOCIAL SCIENCES (AUTONOMOUS)</p>
      </div>
    </div>

    <h1 class="main-title">MENTOR MENTEE</h1>

    <div class="header-right">
      <h4>{{faculty.name}}</h4>
      <div class="user-profile-icon"><img src="{% static 'faculty_images/' %}{{ faculty.faculty_image }}" alt="Faculty">
    </div>
      <button onclick="window.location.href='{% url 'logout' %}'" class="logout-btn">Logout</button>
    </div>
  </header>